@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins';
    text-decoration: none;
    background-color: rgb(207, 207, 207);
}


/*Cabecalho*/

header {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    width: 100%;
}

a:hover {
    filter: brightness(0.5);
    transition: 0.5s;
}

.header-logo img {
    width: 120px;
}

.header-paginas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px
}

.header-paginas a {
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #006437;
    flex-direction: column;
}

hr {
    color: #094B35;
    width: 100px;
}

header button {
    font-family: 'Poppins';
    border: none;
    background-color: #006437;
    color: white;
    width: 130px;
    height: 40px;
    border-radius: 15px;
}

.header-paginas button:hover {
    cursor: pointer;
    background-color: #004e2b;
    transition: 0.5s;
}

/* Fim do cabeçalho */

/* Questionário */

/* h1 {
    font-size: 30px;
    margin: 30px;
    width: 100px;
    text-align: center;
    color: #004e2b;
} */

label {
    padding: 15px;
}

.div_perguntas {
    justify-content: center;
}

.div_centralizar_pergunta {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* jogador_favorito */

.div_pergunta_jogador {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: #094B35;
    padding: 2em;
    border-radius: 16px;
    width: 600px;
    margin: 2em auto;
    font-family: 'Poppins', sans-serif;
}

#select_jogador {
    height: 50px;
    font-family: 'Poppins';
    font-size: 15px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 12px;
}

#select_jogador:hover {
    cursor: pointer;
}

/* camiseta_favorita */

.div_pergunta_camiseta {
    height: auto;
    width: 60%;
    padding: 20px;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

.div_pergunta_camiseta h2 {
    text-align: center;
    color: #094B35;
}

#form_camisetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#div_camiseta {
    text-align: center;
    display: inline;
    justify-content: center;
    border-radius: 10px;
    margin-top: 15px;
    background-color: #063123;
}

#div_camiseta:hover {
    cursor: pointer;
    filter: brightness(0.5);
    transition: 0.5s;
}

#div_camiseta img {
    height: 190px;
    width: 200px;
}

#div_camiseta p {
    color: white;
}

/* formacao_favorita */

.div_formacao {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: #094B35;
    padding: 2em;
    border-radius: 16px;
    width: 600px;
    margin: 2em auto;
    font-family: 'Poppins', sans-serif;
}

#select_formacao {
    height: 50px;
    font-family: 'Poppins';
    font-size: 15px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 12px;
}

#select_formacao:hover {
    cursor: pointer;
}

.div_formacao img {
    border-radius: 20px;
}


/*Idolo Favorito*/

.div_pergunta_idolo {
    height: auto;
    width: 70%;
    padding: 20px;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

.div_pergunta_idolo h2 {
    text-align: center;
    color: #094B35;
}

#form_idolo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#form_idolo label:hover {
    cursor: pointer;
    filter: brightness(0.5);
    transition: 0.5s;
}

.div_input_idolo {
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: #094B35;
    width: auto;
    border-radius: 5px;
    padding: 5px;
}

#div_idolo_ademir {
    color: white;
    background-image: url(../assets/imgs/idolo_ademir.png);
    width: 15em;
    height: 19em;
    text-align: center;
    display: inline;
    justify-content: center;
    border-radius: 10px;
    margin: 15px;
}

#div_idolo_alex {
    color: white;
    background-image: url(../assets/imgs/idolo_alex.png);
    width: 15em;
    height: 19em;
    text-align: center;
    display: inline;
    justify-content: center;
    border-radius: 10px;
    margin: 15px;
}

#div_idolo_dudu {
    color: white;
    background-image: url(../assets/imgs/idolo_dudu.png);
    width: 15em;
    height: 19em;
    text-align: left;
    display: inline;
    justify-content: center;
    border-radius: 10px;
    margin: 15px;
}

#div_idolo_edmundo {
    color: white;
    background-image: url(../assets/imgs/idolo_edmundo.png);
    width: 15em;
    height: 19em;
    text-align: left;
    display: inline;
    justify-content: center;
    border-radius: 10px;
    margin: 15px;
}

#div_idolo_evair {
    color: white;
    background-image: url(../assets/imgs/idolo_evair.png);
    width: 15em;
    height: 19em;
    text-align: left;
    display: inline;
    justify-content: center;
    border-radius: 10px;
    margin: 15px;
}

#div_idolo_marcos {
    color: white;
    background-image: url(../assets/imgs/idolo_marcos.png);
    width: 15em;
    height: 19em;
    text-align: left;
    display: inline;
    justify-content: center;
    border-radius: 10px;
    margin: 15px;
}

#div_idolo_veiga {
    color: white;
    background-image: url(../assets/imgs/idolo_veiga.png);
    width: 15em;
    height: 19em;
    text-align: left;
    display: inline;
    justify-content: center;
    border-radius: 10px;
    margin: 15px;
}

#div_idolo p {
    color: #004e2b;
}


button {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    width: 10em;
    background-color: #094B35;
    color: white;
    gap: 15px;
    padding: 10px 20px;
    margin: 30px;
    cursor: pointer;
    border-radius: 12px;
    border: 0;
}

button:hover {
    background-color: #063022;
    transition: 0.5s;
}

.div_botao {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dashboard */

.div_container_graficos {
    width: 80%;
    margin-top: 50px;
}

.div_grafico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    text-align: center;
    color: #004e2b;
    width: 33em;
    height: 20em;
    margin-bottom: 20px;
    border-radius: 40px;
}

/* Define tamanho mais proporcional para os gráficos */
.div_container_graficos canvas {
    width: 100% !important;
    height: auto !important;
}

.div_container_graficos {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.div_jogadores_formacoes {
    display: flex;
    gap: 20px;
}

#div_kpi {
    width: 30em;
    height: 8em;
    background-color: white;
    margin: 50px;
    border-radius: 20px;
}

#div_kpi h3 {
    color: #004e2b;
    text-align: center;
}